@model List<ContatoModel>


<table class="table table-striped" id="table-contatos-usuarios">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var contatos in Model)
            {
                <tr>
                    <th scope="row">@contatos.Id</th>
                    <td>@contatos.Nome</td>
                    <td>@contatos.Email</td>
                    <td>@contatos.Celular</td>
                </tr>
            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="4">Nenhum contato encontrado</td></tr>
        }
    </tbody>
</table>