@{
    Layout = "_Layout_Deslogada";
    ViewData["Title"] = "Página Restrita";
}

<div class="text-center" id="telaLogin">
    <p>Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">click aqui para voltar para a Home</a></p>
</div>
